<div class="container">
  <div class="row">
    <div class="padre">
      <div class="swiper-container hijo">
        <div class="swiper-wrapper col">
          <!--*ngFor="let item of banner.banner">-->
          <div class="swiper-slide">
            <!--Aqui va el ngfor-->
            <!--[alt]="item.nombre"
                      [title]="item.titulo"-->
            <img
              class="img-fluid swiper-lazy"
              src="../../../assets/img/bannerpag-03.jpg"
            />
          </div>
        </div>
        <!--Paginador-->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="padre col">
      <div class="hijo card col-12">
        <div class="card-header">Amtrui Travel</div>
        <div class="card-body">
          <h5 class="card-title">Silvia Cauca, un paraiso por descubir</h5>
          <p class="card-text">
            Silvia es una ciudad y municipio del departamento del Cauca,
            Colombia, municipio colombiano ubicado en el departamento del Cauca.
            Está ubicado en un valle interandino (2620 metros sobre el nivel del
            mar) en la cordillera central de Colombia. La población de Silvia se
            estima en 35.000 habitantes. Las principales actividades económicas
            son la ganadería tradicional, la agricultura y el turismo. A menudo
            es visto como una escapada de fin de semana por los residentes de
            Cali, que tiene un clima mucho más cálido. Hay muchas panaderías y
            restaurantes económicos en la ciudad, la mayoría a medio kilómetro
            de la gran plaza pública. En la última década, los grandes árboles
            que antes crecían en la plaza fueron removidos por los daños que
            estaban causando sus raíces y la plaza fue renovada para incluir más
            asientos y replanteada con una mayor variedad de vegetación.
          </p>
          <a
            class="nav-link navItem btn btn-outline-success"
            routerLink="/tours"
            (click)="ToggleNavBar()"
            >Ver planes</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
