<br />
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="row">
        <div class="padre" style="max-width: 25rem">
          <div class="swiper-container hijo">
            <div class="swiper-wrapper col">
              <!--*ngFor="let item of banner.banner">-->
              <div class="swiper-slide">
                <
                <!--Aqui va el ngfor-->
                <!--[alt]="item.nombre"
                                  [title]="item.titulo"-->
                <img
                  class="img-fluid swiper-lazy"
                  src="../../../assets/img/silvia.jpeg"
                />
              </div>
            </div>
            <!--Paginador-->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-scrollbar"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card border-light mb-2" style="max-width: 25rem">
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
              commodi voluptas, eius placeat sed consequatur reiciendis iure,
              sapiente nobis vero atque, porro pariatur officia ipsum enim.
              Vitae, beatae? Deserunt et, delectus sit quo, neque sunt vitae
              mollitia sequi similique nobis ipsa laudantium quidem facilis at
              nostrum ipsum, eum iusto voluptatum rem accusantium. Ab libero
              odio voluptas ducimus possimus iusto aliquam.
            </p>
          </div>
          <div class="card-footer padre">
            <div class="hijo">
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                Reservar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 25rem">
        <div class="card-header">Featured</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
