<div class="container">
  <br />
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <img
        src="../../../assets//img//silvia.jpeg"
        alt="..."
        class="img-thumbnail"
      />
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt
          expedita inventore laboriosam vel dignissimos ducimus at quod natus
          obcaecati, eos atque. Sit dolorem ab veritatis debitis accusamus
          libero odit beatae.
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt
          expedita inventore laboriosam vel dignissimos ducimus at quod natus
          obcaecati, eos atque. Sit dolorem ab veritatis debitis accusamus
          libero odit beatae.
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <img
        src="../../../assets//img//silvia.jpeg"
        alt="..."
        class="img-thumbnail"
      />
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
