<header>
  <!--Navegador-->
  <nav class="navbar navbar-expand-md bg-color navbar-navItem nav-tabs">
    <!--NAVEGADOR  MOVÍL-->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navMovil"
    >
      <span class="navbar-toggler-icon"><i class="bi bi-grid-fill"></i></span>
    </button>

    <!--Navbar Links-->
    <div class="container">
      <div class="">
        <div class="row">
          <!-- <div class="col-sm-1"></div> -->
          <div class="col-sm-9">
            <a routerLink="/home" (click)="ToggleNavBar()" class="navbar-brand"
              ><img
                id="Logo"
                src="../../../assets/img/Logo (1).png"
                alt="Cursos online, cursos, cursos virtuales y curso  | Momentum, escuela online"
                title="Cursos online, cursos, cursos virtuales y curso | Momentum, escuela online"
            /></a>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
      <div class="row">
        <div class="collapse navbar-collapse" id="navMovil">
          <!--  -->
          <div class="navbar-nav ml-auto">
            <ul class="navbar-nav nav-tabs">
              <li class="nav-item" routerLinkActive="active">
                <a
                  class="nav-link navItem"
                  routerLink="/home"
                  (click)="ToggleNavBar()"
                  >Inicio</a
                >
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a
                  class="nav-link navItem"
                  routerLink="/tours"
                  (click)="ToggleNavBar()"
                  >Tours</a
                >
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a
                  class="nav-link navItem"
                  routerLink="/nosotros"
                  (click)="ToggleNavBar()"
                  >Nosotros</a
                >
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link navItem" href="#con">Contactos</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            (keyup.enter)="buscarProducto(txtBuscar.value)"
            placeholder="Paque turistico"
            aria-label="Search"
            #txtBuscar
          />
        </form>
      </div>
    </div>
  </nav>
</header>
