<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <img
      src="../../../assets/img/bannerpag-03.jpg"
      class="rounded"
      alt="Cinque Terre"
    />
    &nbsp; &nbsp;
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-info">
        Editar imagen de banner
      </button>
      <button type="button" class="btn btn-light">
        Eliminar imagen de banner
      </button>
    </div>
  </li>
  <li class="list-group-item">
    <img
      src="../../../assets/img/bannerpag-03.jpg"
      class="rounded"
      alt="Cinque Terre"
    />
    &nbsp; &nbsp;
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-info">
        Editar imagen de banner
      </button>
      <button type="button" class="btn btn-light">
        Eliminar imagen de banner
      </button>
    </div>
  </li>
</ul>
<div class="padre">
  <div class="hijo">
    <button type="button" class="btn btn-success">
      <i class="bi bi-plus-square-fill rad"></i>
    </button>
  </div>
</div>
