<div class="container">
  <br />
  <div class="row">
    <div class="card-deck">
      <div class="card border-light mb-2" style="max-width: 15rem">
        <div class="card-header">
          <img src="../../../assets//img//silvia.jpeg" alt="" srcset="" />
        </div>
        <div class="card-body">
          <h5 class="card-title">Nombre del tour</h5>
        </div>
        <div class="card-footer padre">
          <div class="hijo">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Vamos a el
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card border-light mb-2" style="max-width: 15rem">
        <div class="card-header">
          <img src="../../../assets//img//silvia.jpeg" alt="" srcset="" />
        </div>
        <div class="card-body">
          <h5 class="card-title">Nombre del tour</h5>
        </div>
        <div class="card-footer padre">
          <div class="hijo">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Vamos a el
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card border-light mb-2" style="max-width: 15rem">
        <div class="card-header">
          <img src="../../../assets//img//silvia.jpeg" alt="" srcset="" />
        </div>
        <div class="card-body">
          <h5 class="card-title">Nombre del tour</h5>
        </div>
        <div class="card-footer padre">
          <div class="hijo">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Vamos a el
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card border-light mb-2" style="max-width: 15rem">
        <div class="card-header">
          <img src="../../../assets//img//silvia.jpeg" alt="" srcset="" />
        </div>
        <div class="card-body">
          <h5 class="card-title">Nombre del tour</h5>
        </div>
        <div class="card-footer padre">
          <div class="hijo">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Vamos a el
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card border-light mb-2" style="max-width: 15rem">
        <div class="card-header">
          <img src="../../../assets//img//silvia.jpeg" alt="" srcset="" />
        </div>
        <div class="card-body">
          <h5 class="card-title">Nombre del tour</h5>
        </div>
        <div class="card-footer padre">
          <div class="hijo">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Vamos a el
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card border-light mb-2" style="max-width: 15rem">
        <div class="card-header">
          <img src="../../../assets//img//silvia.jpeg" alt="" srcset="" />
        </div>
        <div class="card-body">
          <h5 class="card-title">Nombre del tour</h5>
        </div>
        <div class="card-footer padre">
          <div class="hijo">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Vamos a el
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card border-light mb-2" style="max-width: 15rem">
        <div class="card-header">
          <img src="../../../assets//img//silvia.jpeg" alt="" srcset="" />
        </div>
        <div class="card-body">
          <h5 class="card-title">Nombre del tour</h5>
        </div>
        <div class="card-footer padre">
          <div class="hijo">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Vamos a el
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card border-light mb-2" style="max-width: 15rem">
        <div class="card-header">
          <img src="../../../assets//img//silvia.jpeg" alt="" srcset="" />
        </div>
        <div class="card-body">
          <h5 class="card-title">Nombre del tour</h5>
        </div>
        <div class="card-footer padre">
          <div class="hijo">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Vamos a el
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
