.card-text {
  width: max-content;
}
.padre {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hijo {
  width: max-content;
}
.card-header {
  height: 15rem;
  width: 20rem;
}
img {
  max-width: 100%;
  max-height: 100%;
}
