<footer class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div><i class="bi bi-telephone-fill"></i>Número de celular</div>
      <div><i class="bi bi-envelope-fill"></i>Coreo</div>
      <div class="row" id="salto">
        <div class="col-sm-6">© Derechos resevados {{ year }}</div>
        <div class="col-sm-6" id="by">
          <a
            href="https://www.hornetestudio.tech"
            target="_blank"
            rel="noreferrer"
            >By: Hornet estudio</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <a href="" target="_blank" rel="noreferrer"
        ><i class="bi bi-facebook icons"></i
      ></a>
      <a href="" target="_blank" rel="noreferrer"
        ><i class="bi bi-instagram icons"></i
      ></a>
    </div>
  </div>
</footer>
